body {
  background: transparent;
  margin: 0;
  overflow: hidden;
}

#pico {
  position: relative;
  width: 300px;
}

.eyes, .eyebrows, .tshirt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.trousers {
  position: absolute;
  z-index: 1;
}

.body {
  position: absolute;
  z-index: 3;
}

#speech-bubble {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    user-select: none;
    z-index: 10;
    display: none;
}

#speech-text {
  position: absolute;
  top: 35px;
  left: 300px;
  right: 100px;
  width: 245px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 24px;
  pointer-events: none;
  user-select: none;
  text-align: center;
  word-wrap: break-word;
  z-index: 20;
}
